@use "./tailwindcss" as *;
@use "./element-ui/components.scss" as *;
@use "./colors.scss" as *;

:root {
  --spacing-md: 7.887px;
  --radius-md: 7.887px;
}

html {
  font-family: Poppins, sans-serif;
}

.circletab {
  position: relative;

  &.active {
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 12px;
      right: -20px;
      border-bottom-left-radius: 6px;
      background: #f2f1f6;
      // background: #f2f1f6;
      box-shadow: -1px 8px 0px white;
    }

    &:not(:first-child)::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 12px;
      left: -19.8px;
      border-bottom-right-radius: 6px;
      background: #f2f1f6;
      // background: #f2f1f6;
      box-shadow: 2px 7px 0px white;
    }
  }
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 0.3s ease;
}

// slide-right
.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

// slide-left
.slide-left-enter-from {
  @extend .slide-right-leave-to;
}

.slide-left-leave-to {
  @extend .slide-right-enter-from;
}
